In [2]:
import pandas as pd

In [6]:
data = pd.read_csv('../data/prepared/model_traffic_data.csv')

In [7]:
data.head()

,holiday,temp,clouds_all,weather_main,traffic_volume,month,weekday,hour
0,0,288.28,40,1,5545,10,1,9
1,0,289.36,75,1,4516,10,1,10
2,0,289.58,90,1,4767,10,1,11
3,0,290.13,90,1,5026,10,1,12
4,0,291.14,75,1,4918,10,1,13

In [8]:
overview = data.describe()

In [9]:
overview

,holiday,temp,clouds_all,weather_main,traffic_volume,month,weekday,hour
count,47960.000000,47960.000000,47960.000000,47960.000000,47960.000000,47960.000000,47960.000000,47960.000000
mean,0.001272,281.275357,49.196747,2.561155,3260.909279,6.508945,2.983090,11.398561
std,0.035641,12.726827,39.004742,2.773694,1986.802787,3.399798,2.005306,6.940415
min,0.000000,243.390000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,0.000000,272.150000,1.000000,0.000000,1195.000000,4.000000,1.000000,5.000000
50%,0.000000,282.500000,64.000000,1.000000,3380.500000,7.000000,3.000000,11.000000
75%,0.000000,291.840000,90.000000,5.000000,4933.250000,9.000000,5.000000,17.000000
max,1.000000,310.070000,100.000000,10.000000,7280.000000,12.000000,6.000000,23.000000

In [14]:
overview.loc[['min','max']].to_json("schema_in.json",indent=4)

In [15]:
class NotInRange(Exception):
    def __init__(self, message = "Values not in range"):
        self.message = message
        super().__init__(self.message)

In [18]:
raise NotInRange

NotInRange: Values not in range