In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('CLEANED_METRO_INTERSTATE_TRAFFIC.csv',index_col='date_time')

In [3]:
data.head()

,holiday,temp,clouds_all,weather_main,traffic_volume,year,month,weekday,hour,day_part
date_time,,,,,,,,,,
2012-10-02 09:00:00,None,288.28,40,Clouds,5545,2012,10,1,9,morning
2012-10-02 10:00:00,None,289.36,75,Clouds,4516,2012,10,1,10,morning
2012-10-02 11:00:00,None,289.58,90,Clouds,4767,2012,10,1,11,morning
2012-10-02 12:00:00,None,290.13,90,Clouds,5026,2012,10,1,12,morning
2012-10-02 13:00:00,None,291.14,75,Clouds,4918,2012,10,1,13,afternoon

In [6]:
overview = data.describe()

In [12]:
overview

,temp,clouds_all,traffic_volume,year,month,weekday,hour
count,47960.000000,47960.000000,47960.000000,47960.000000,47960.000000,47960.000000,47960.000000
mean,281.275357,49.196747,3260.909279,2015.524979,6.508945,2.983090,11.398561
std,12.726827,39.004742,1986.802787,1.888166,3.399798,2.005306,6.940415
min,243.390000,0.000000,0.000000,2012.000000,1.000000,0.000000,0.000000
25%,272.150000,1.000000,1195.000000,2014.000000,4.000000,1.000000,5.000000
50%,282.500000,64.000000,3380.500000,2016.000000,7.000000,3.000000,11.000000
75%,291.840000,90.000000,4933.250000,2017.000000,9.000000,5.000000,17.000000
max,310.070000,100.000000,7280.000000,2018.000000,12.000000,6.000000,23.000000

In [14]:
overview.loc[['min','max']].to_json("schema_in.json",indent=4)

In [15]:
class NotInRange(Exception):
    def __init__(self, message = "Values not in range"):
        self.message = message
        super().__init__(self.message)

In [18]:
raise NotInRange

NotInRange: Values not in range